@model ML.Usuario
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<script src="http://bootboxjs.com/bootbox.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
@Scripts.Render("~/bundles/jquery")
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

<div class="table-responsive">
    <div>
        <h2 class="text-center" style="text-align:center">USUARIOS REGISTRADOS</h2>
    </div>
    <hr />

    @using (Html.BeginForm("GetAll", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @placeholder = "Nombre" })
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @placeholder = "Apellido" })
        </div>
        <button class="btn btn-dark" type="submit" style="margin-bottom:2rem">Buscar</button>
    }

    <table class="table" id="myTable">



        <a class="btn btn-success btn-lg" href="@Url.Action("Form", "Usuario")" style="margin-bottom:5rem">
            Agregar
        </a>
        <thead class="text-center" style="background: #141313e7">
            <tr style="color:#ffffff">
                <th>Imagen</th>
                <th>Id Usuario</th>
                <th>UserName</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Email</th>
                <th>Password</th>
                <th>Sexo</th>
                <th>Telefono</th>
                <th>Celular</th>
                <th>Fecha de Nacimiento</th>
                <th>CURP</th>
                <th>Status</th>
                <th>id Rol</th>
                <th>Rol</th>
                <th>id Direccion</th>
                <th>Calle</th>
                <th>Numero Interior</th>
                <th>Numero Exterior</th>
                <th>id Colinia</th>
                <th>Colonia</th>
                <th>Editar </th>
                <th>Eliminar </th>

            </tr>
        </thead>
        <tbody style="background:#939393">
            @foreach (ML.Usuario usuario in Model.Usuarios)
            {
                <tr>
                    @*Si es vacio o null se muestra la imagen predeterminada, sino la imagen agregada*@

                    <td>
                        @if (usuario.Imagen == "" || usuario.Imagen == null)
                        {
                            <img src="https://www.computerhope.com/jargon/g/guest-user.png" width="50" height="50" style="border-radius:30px" />
                        }
                        else
                        {
                            <img src="data:image/*;base64,@usuario.Imagen" width="50" height="50" style="border-radius:30px" />
                        }

                    </td>
                    <td>@usuario.IdUsuario</td>
                    <td>@usuario.UserName</td>
                    <td>@usuario.Nombre</td>
                    <td>@usuario.ApellidoPaterno</td>
                    <td>@usuario.ApellidoMaterno</td>
                    <td>@usuario.Email</td>
                    <td>@usuario.Password</td>
                    <td>@usuario.Sexo</td>
                    <td>@usuario.Telefono</td>
                    <td>@usuario.Celular</td>
                    <td>@usuario.FechaNacimiento</td>
                    <td>@usuario.CURP</td>
                    @if (usuario.Status)
                    {
                        <td style="text-align: center; vertical-align: middle;">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked onchange="UsuarioChangeStatus(@usuario.IdUsuario, this)">
                            </div>
                        </td>
                    }
                    else
                    {
                        <td style="text-align: center; vertical-align: middle;">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            </div>
                        </td>
                    }


                    <td>@usuario.Rol.IdRol</td>
                    <td>@usuario.Rol.Nombre</td>
                    <td>@usuario.Direccion.IdDireccion</td>
                    <td>@usuario.Direccion.Calle</td>
                    <td>@usuario.Direccion.NumeroInterior</td>
                    <td>@usuario.Direccion.NumeroExterior</td>
                    <td>@usuario.Direccion.Colonia.IdColonia</td>
                    <td>@usuario.Direccion.Colonia.Nombre</td>





                    <td>
                        <a class="btn btn-sm btn-primary" href="@Url.Action("Form", "Usuario", new { IdUsuario = usuario.IdUsuario })">
                            <i class="fa-sharp fa-solid fa-pencil fa-sm text-center"></i>

                        </a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-danger" href="@Url.Action("Eliminar", "Usuario", new { IdUsuario = usuario.IdUsuario })" onclick="return confirm('¿Estas seguro de eliminar este registro?');">
                            <i class="fa-solid fa-user-xmark fa-lg"></i>
                        </a>
                    </td>


                </tr>

            }
        </tbody>

    </table>

    <input type="file" class="btn btn-outline-primary" />
</div>

<script type="text/javascript">
    let table = new DataTable('#myTable', {
        reponsive: true,
        "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "Todos"]],
        searching: false,
        language: {
            url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
        },
    });

    function UsuarioChangeStatus(idUsuario, e) {
        var status = e.checked

        $.ajax({
            url: '@Url.Action("UsuarioChangeStatus")',
            data: { IdUsuario: idUsuario, Status: status },
            type: 'POST',
            dataType: 'json',
            success: {},
            error: {
                //alert('Ocurrio un error')
            }

        })
    }

</script>





